%fieldset
  %legend Stats

  %b Positive for community
  = stats[:community_pos]
  %br
  %b Negative for community
  = stats[:community_neg]
  %br
  %b Positive for mapper
  = stats[:mapper_pos]
  %br
  %b Negative for mapper
  = stats[:mapper_neg]
  %br
  %b Positive for pro
  = stats[:pro_pos]
  %br
  %b Negative for pro
  = stats[:pro_neg]
