%p#notice= notice

%h1= @map.name

- if @map.image?
  = image_tag(@map.image_url)

%p= @map.description

%b Author: #{@map.author_name}
%br
%b Latest version: #{@map.latest}
%br
%b Size: #{@map.size}
%br
%b Mode: #{@map.mode}
%br
%b Category: #{@map.category}


- if user_signed_in?
  = render partial: 'ratings/rate', locals: {map: @map, rating: @current_rating}
- else
  %h5 Log in to rate this map!

= link_to 'Edit', edit_map_path(@map)
\|
= link_to 'Back', maps_path
